*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; 
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem; 
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: brown;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

#new-btn{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

#msg{
    font-size: 2.8rem;
    color: rgb(255, 255, 0);
}

.msg-container{
    height: 25vmin;
}

.hide{
        display: none;
}
/* 
.turn{
    height: 40px;
    width: 100px;
    font-size: 1.3rem;
    background-color: rgb(71, 164, 71);
    color: rgb(157, 93, 63);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    position: relative;
} */
